:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196f3;
   
}

body {
    color: var(--primary-text-color);

    font-family: Roboto, sans-serif;
    font-style: normal;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--title-text-color)
}

/* HEADER */
header {
    background-color: #ffffff;
}

.logo {

    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}

.logo-header {
    color: #000000;
}


.logo span {
    color: var(--accent-color)
}


.site-nav .nav-link{
    color: var(--title-text-color);

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.site-nav .nav-link:hover,
.site-nav .nav-link:focus {
    color: var(--accent-color)
}

.header-contacts a{
    color: var(--primary-text-color);

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.header-contacts a:hover,
.header-contacts a:focus{
    color: var(--accent-color);
}


/* FOOTER */

footer {
    background-color: #2F303A;
}

.address {
    color: #ffffff;
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}   

.address a{
    color: var(--primary-text-color);
}

.address a:hover,
.address a:focus{
    color: rgba(255, 255, 255, 0.6);
}


.logo-footer {
    color: #ffffff;
}


/* ---------------------- index.html ---------------------- */

/* SECTION HERO*/

.hero {
    background-color: #2F303A;
}

.hero-title {
    color: #ffffff;

    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}

.hero-button {
    color: #ffffff;
    background-color: var(--accent-color);

    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    text-align: center;
    letter-spacing: 0.06em;
}


/* SECTION ADVANTAGES */

.advantages {
    background-color: #ffffff;
}

.list-advantages .advantages-title{
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.list-advantages .advantages-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;

}

/* SECTION COMPETENCE */

.competence {
    background-color: #ffffff;
}

.competence-title {

    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
}

/* SECTION TEAM */

.team {
    background-color: #F5F4FA;
}

.team-title {
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em; 
}

.list-team .member-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;

}

.list-team .member-description {
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
}


/* ---------------------- portfolio.html ---------------------- */


/* SECTION PROJECTS */


.projects {
    background: #ffffff;
}

.list-projects button {
    color: var(--title-text-color);
    background-color: #F5F4FA;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    text-align: center;
    letter-spacing: 0.03em;;
}

.list-projects button:hover {
    color: #ffffff;
    background-color: var(--accent-color);

}

.list-projects button:focus {
    color: #ffffff;
    background-color: var(--accent-color);

}

.list-project-examples .example-title {
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.list-project-examples .example-description {
    color: var(--primary-text-color);

    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
}

